@charset "UTF-8";

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: linear-gradient(to top, #A6535A, #BF8888);
    background-attachment: fixed;
}

main {
    background-color: #D9ADAD;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #591E29;
    width: 600px;
    margin: auto;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #993b4c;
    text-shadow: 0px 0px 1px #591E29;
}

h2 {
    color: #591E29;
}

p {
    text-align: justify;
    color: #591E29;
}